#HeadDiv{
    box-shadow: 1px 1px gray;
    height: 90%;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rebeccapurple;
    box-shadow: gray 3px 3px 3px;
}

#GreenThing{
    background: #558971;
    margin-top: 2%;
    margin-left: 2%;
    width: 45%;
    color: white;
    padding: 15px;
    text-align: center;
    
}

#Pictures{
    margin-left: 50%;
    margin-top: -13%;
}

#Wifi{
    margin-left: 10%;
}

#Logo{
    margin-left: 10%;
}

#TextFieldHome{
    border-style: none dotted none none;
    width: 55%;
    
}

#Slider{
    margin-left: 60%;
    margin-top: -30%;
    margin-bottom: 30%;
}
li{ 
    background: #F4FEFF;
    display: inline;
   
}
nav{
    color: #448761;
    width: 100%;
}

#GreenText{
    background-color: #DFF0D8;
    border: 1px #D8EAC9 solid;
    color: #8F9560;
    padding: 10px;
    font-size: 13px;
    width: 90%;
    margin-left: 3%;
}

#TreeTextThings{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

#Number1{
    background-color: #F6F6F6;
    width: 30%;
    float:left;
    margin-left: auto;
    margin-right: auto;
}


#Number2{
    background-color: #F6F6F6;
    width: 30%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
#Number3{
    background-color: #F6F6F6;
    width: 30%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F6F6F6;
  }
  
  li {
    float: left;
    background-color: #F6F6F6;

  }
  
  li a {
    display: block;
    color: #558971;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: none none solid none;

  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    color: yellowgreen;
  }
  #adresm, #contactm, #routem{
    font-size: 10pt;
 }
 
 #openingstijdenm, #openm{
     font-size: 13px;
 }
 
 #routepdfm{
     background-image: url('./pictures/page_white_acrobat.png');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 16px;
     padding: 5px 10px;
     line-height: 16px;
     color: #fff;
     padding-left: 30px;
     border: 0;
     border-radius: 3px;
     background-color: #C09853;
     background-repeat: no-repeat;
     background-position: 6px 4px;
     font-family: Calibri;
     -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
     transition: all .25s ease-in-out;
 }
 #routepdfm:hover{
     background-image: url('./pictures/page_white_acrobat.png');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 16px;
     padding: 5px 10px;
     line-height: 16px;
     color: #fff;
     padding-left: 30px;
     border: 0;
     border-radius: 3px;
     background-color: #4e856b;
     background-repeat: no-repeat;
     background-position: 6px 4px;
     font-family: Calibri;
     -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
     transition: all .25s ease-in-out;
 }
 #mapm{
     float: right;
 }
 /*==================================================================================*/
 #buttonsubmitm{
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 5px 10px;
    line-height: 16px;
    color: #fff;
    padding-left: 30px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: #C09853;
    background-repeat: no-repeat;
    background-position: 6px 4px;
    margin: auto;
 }
  /*==================================================================================*/

#form{
    display: flex;
    height: 100%;
}
#formleftm{
    float: left;
    height: 200px;
}
