#HeadDiv{
    box-shadow: 1px 1px gray;
    height: 90%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rebeccapurple;
}

#GreenThing{
    background: #448761;
    margin-top: 2%;
    margin-left: 2%;
    width: 40%;
    color: white;
    padding: 15px;
    text-align: center;
}

#Pictures{
    margin-left: 50%;
    margin-top: -13%;
}

#Wifi{
    margin-left: 10%;
}

#Logo{
    margin-left: 10%;
}

#TextFieldHome{
    border-style: none dotted none none;
    width: 55%;
    
}

#Slider{
    margin-left: 60%;
    margin-top: -30%;
    margin-bottom: 30%;
}